<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
</head>
<body>

{% block body %} {% endblock %}


<script
 src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
</script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
</script>

<!-- custom JS -->
<script>
collectionDropdown = document.getElementById("collectionDropdown");

customTable = document.getElementById("customTable");

collectionDropdown.addEventListener("change", function() {
    selectedCollection = collectionDropdown.value;
    updateCustomTable(selectedCollection);
});

//generate table


function updateCustomTable(selectedCollection) {
    console.log(selectedCollection)
    fetch(`/get_collection_data?collection=${selectedCollection}`)
        .then(response => response.json())
        .then(data => {
            // Clear existing table content
            customTable.innerHTML = "";

            // Populate the table with data
            data.forEach(row => {
                const newRow = customTable.insertRow();

                // Iterate through each property in the row
                for (const key in row) {
                    if (row.hasOwnProperty(key)) {
                        const cell = newRow.insertCell();
                        cell.textContent = row[key];
                    }
                }
            });
        })
        .catch(error => console.error("Error:", error));
}
</script>




</body>
</html>